<!-- Fighter Modal -->
<div
	class="modal fade"
	id="fighterModal"
	tabindex="-1"
	aria-labelledby="fighterModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="fighterModalLabel"></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td>Name:</td>
							<td id="fighterName"></td>
						</tr>
						<tr>
							<td>Record:</td>
							<td id="fighterRecord"></td>
						</tr>
						<tr>
							<td>Height:</td>
							<td id="fighterHeight"></td>
						</tr>
						<tr>
							<td>Weight:</td>
							<td id="fighterWeight"></td>
						</tr>
						<tr>
							<td>Reach:</td>
							<td id="fighterReach"></td>
						</tr>
						<tr>
							<td>Date of Birth:</td>
							<td id="fighterDob"></td>
						</tr>
						<tr>
							<td>Recent Fights:</td>
							<td>
								<ul id="fighterFights"></ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
