<!-- Opponent Modal -->
<div
	class="modal fade"
	id="opponentModal"
	tabindex="-1"
	aria-labelledby="opponentModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				
				<h5 class="modal-title fighter-header" id="opponentModalLabel"></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<table class="table">
					<tbody>
						<tr>
							<td>Record:</td>
							<td id="opponentModalRecord"></td>
						</tr>
						<tr>
							<td>Height:</td>
							<td id="opponentModalHeight"></td>
						</tr>
						<tr>
							<td>Weight:</td>
							<td id="opponentModalWeight"></td>
						</tr>
						<tr>
							<td>Reach:</td>
							<td id="opponentModalReach"></td>
						</tr>
						<tr>
							<td>Date of Birth:</td>
							<td id="opponentModalDob"></td>
						</tr>
						<tr>
							<td>Recent Fights:</td>
							<td>
								<ul id="opponentModalFights"></ul>
							</td>
						</tr>
						<tr id="opponentModalOddsRow">
							<td>Odds:</td>
							<td>
								<ul id="opponentModalOdds"></ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
                <button type="button" class="btn btn-primary" id="showFighterBtn" hidden>
					Show Opponent
				</button>
			</div>
		</div>
	</div>
</div>
